/* Survey page styles */

.photo{
  width: 60%;
  padding: 10px;
}

form {
  margin: 1.5em auto;
  text-align: left;
  display: inline-block;
}

.container{
  text-align: center;
}
.newsletter{
  text-align: right;

}

input,
textarea,
select,
button {
	background: #98949e;
	border: 3px solid #2d2b30;
	outline: none;
}

input:focus,
textarea:focus,
select:focus,
button:focus {
	background: white;
	border: 3px solid #781125;
	transition: border-color .6s, background-color .6s;
	outline: none;
}

/* blur */
input:not(:focus), 
select:not(:focus),
textarea:not(:focus) {
	background: #98949e;
	border-color: #2d2b30;
	transition: border-color .6s, background-color .6s;
}

.block-label {
	display: block;
	margin: 1.5em 0 1em 0;
}

legend {
  font-weight: 600;
  text-align: left;
}

#name {
	margin-top: 1.5em;
}

button {
	margin-bottom: 1.5em;
}

/* Styles for larger screens */
@media screen and (min-width: 840px) {
  .photo{
    width: 40%;
  }
}
