/* Tour page styles */

.table-wrapper {
  font-family: 'Open Sans', sans-serif;
  margin: 0 auto;
}

.heading{
  display: inline-block;
  margin: 0;
}

.pick{
  width: 40px;
  height: 0%;
  padding: 10px;
}

table {
  margin-left: 4em;
}

table caption {
  text-align: left;
  font-size: 1.5em;
  margin: 1em 0;
}

table caption,
th {
  font-weight: 600;
}

th,
td {
  min-width: 10em;
}
